
.drop-down-list {
	-fx-opacity: 0.0; /*invisible }ChoiceBox*/ 
}

.accordion .titled-pane .title {
    -fx-background-color: transparent ;
}

.writingsHeader {
	-fx-text-fill: white;
	-fx-font-size: 40px;
	-fx-font-weight: bold;
	-fx-alignment: CENTER;
	-fx-font-family: Lora;
}

.writingsSubHeader {
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-alignment: CENTER;
	-fx-font-family: Lora;
}

.writings {
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-alignment: CENTER;
	-fx-font-family: Lora;
}

/*header color*/
.dark-background-color {
	-fx-background-color: rgb(49,133,156);
}

.lateral-menu-background-color {
	-fx-background-color: rgb(33,89,104);
	-fx-text-fill: rgb(79,129,189);
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-alignment: CENTER;
	-fx-font-family: Lora;
	/*-fx-background-radius: 25px;*/
}

.toggle-button-analytics {
  -fx-background-image:url("../../../../resources/images/analytics.png"); 
  -fx-background-color: #215968;
  -fx-background-size: stretch;
}

.toggle-button-analytics:hover, .toggle-button-analytics:selected {
  -fx-background-image: url("../../../../resources/images/analytics-selected.png");
  -fx-background-color: #215968;
}

.toggle-button-scenario {
  -fx-background-image:url("../../../../resources/images/user-scenario-tests.png"); 
  -fx-background-color: #215968;
  -fx-background-size: stretch;
}

.toggle-button-scenario:hover, .toggle-button-scenario:selected {
  -fx-background-image: url("../../../../resources/images/user-scenario-tests-selected.png");
  -fx-background-color: #215968;
}

.toggle-button-project {
  -fx-background-image:url("../../../../resources/images/project-settings.png"); 
  -fx-background-color: #215968;
  -fx-background-size: stretch;
}

.toggle-button-project:hover, .toggle-button-project:selected {
  -fx-background-image: url("../../../../resources/images/project-settings-selected.png");
  -fx-background-color: #215968;
}

.rich-blue {
    -fx-text-fill: white;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-alignment: CENTER;
	-fx-font-family: Lora;
	-fx-background-size:stretch;
	/*-fx-background-radius: 25px;*/
}

.rich-blue:hover, .rich-blue:selected {
	-fx-background-color:rgb(0,0,0),
		linear-gradient(rgb(79,129,189), rgb(53,125,215)),
		linear-gradient(rgb(74,111,193), rgb(79,129,189));
	/*-fx-background-insets: 0,1,2,3;*/
    -fx-background-radius: 25px;
    -fx-border-color: rgb(79,129,189);
    -fx-padding: 12 30 12 30;
    /*-fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-font-family: Lora;*/
    -fx-background-size:stretch;
}

.rich-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.right-anchor-pane {
  -fx-background-color: rgb(147, 205, 221);
}

.list-view .list-cell {
  -fx-background-color: rgb(147, 205, 221);
  -fx-text-fill: white;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-border-color: rgb(147, 205, 221);
  -fx-font-family: Lora;
}

.table-cell {
  -fx-background-color: rgb(49,133,156);
  -fx-text-fill: white;
  -fx-font-size: 16px;
  -fx-alignment: CENTER;
  -fx-font-weight: bold;
  -fx-border-color: rgb(49,133,156);
  -fx-font-family: Lora;
}

.table-cell:hover, .table-cell:selected {
  -fx-background-color: rgb(79,129,189);
}

/*#action:selected {
	-fx-background-color: rgb(79,129,189);
}*/

.column-header > .label {
	-fx-background-color: rgb(49,133,156);
	-fx-text-fill: white;
	-fx-border-color: rgb(49,133,156);
}

.table-view .label {
	-fx-background-color: rgb(49,133,156);
	-fx-text-fill: white;
	-fx-border-color: rgb(49,133,156);
}
/*
.teste > .column-header {
	-fx-background-color: rgb(49,133,156);
	-fx-border-color: rgb(49,133,156);
}
 
.teste > .column-header > .label {
	-fx-background-color: rgb(49,133,156);
	-fx-border-color: rgb(49,133,156);
}
 */